pkgbase = hilbish
	pkgdesc = A comfy and nice little shell for Lua fans!
	pkgver = 2.0.0_rc1
	pkgrel = 1
	url = https://github.com/rosettea/hilbish
	install = hilbish.install
	arch = x86_64
	license = MIT
	depends = glibc
	provides = hilbish
	conflicts = hilbish
	conflicts = hilbish-git
	options = !emptydirs
	validpgpkeys = 784DF7A14968C5094E16839C904FC49417B44DCD
	source_x86_64 = hilbish-v2.0.0-rc1.tar.gz::https://github.com/rosettea/hilbish/releases/download/v2.0.0-rc1/hilbish-v2.0.0-rc1-linux-amd64.tar.gz
	md5sums_x86_64 = 6572a32ca63801cdbaabf5fcffa48e79

pkgname = hilbish
